

<div class="card w-100 rounded-0 border-0" id="kt_drawer_chat_messenger">
    <!--begin::Card header-->
    <div class="card-header pe-5" id="kt_drawer_chat_messenger_header">
        <!--begin::Title-->
        <div class="card-title">
            <!--begin::User-->

            
            <div class="d-flex justify-content-center flex-column me-3">
                <a href="#" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 mb-2 lh-1">Brian Cox</a>
                <!--begin::Info-->
                <div class="mb-0 lh-1">
                    <span class="badge badge-success badge-circle w-10px h-10px me-1"></span>
                    <span class="fs-7 fw-semibold text-muted">Active</span>
                </div>
                <!--end::Info-->
            </div>
            <!--end::User-->
        </div>
        <!--end::Title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Menu-->
            <div class="me-2">
                <button class="btn btn-sm btn-icon btn-active-light-primary" data-kt-menu-trigger="click"
                    data-kt-menu-placement="bottom-end">
                    <i class="bi bi-three-dots fs-3"></i>
                </button>

                <!--begin::Menu 3-->
                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3"
                    data-kt-menu="true">
                    <!--begin::Heading-->
                    <div class="menu-item px-3">
                        <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Contacts</div>
                    </div>
                    <!--end::Heading-->
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3" data-bs-toggle="modal"
                            data-bs-target="#kt_modal_users_search">Add Contact</a>
                    </div>


                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                        <a href="#" class="menu-link flex-stack px-3" data-bs-toggle="modal"
                            data-bs-target="#kt_modal_invite_friends">Invite Contacts
                            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                title="Specify a contact email to send an invitation"></i></a>
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-start">
                        <a href="#" class="menu-link px-3">
                            <span class="menu-title">Groups</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <!--begin::Menu sub-->
                        <div class="menu-sub menu-sub-dropdown w-175px py-4">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="#" class="menu-link px-3" data-bs-toggle="tooltip" title="Coming soon">Create
                                    Group</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="#" class="menu-link px-3" data-bs-toggle="tooltip" title="Coming soon">Invite
                                    Members</a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <a href="#" class="menu-link px-3" data-bs-toggle="tooltip"
                                    title="Coming soon">Settings</a>
                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu sub-->
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <div class="menu-item px-3 my-1">
                        <a href="#" class="menu-link px-3" data-bs-toggle="tooltip" title="Coming soon">Settings</a>
                    </div>
                    <!--end::Menu item-->
                </div>
                <!--end::Menu 3-->

            </div>
            <!--end::Menu-->
            <!--begin::Close-->
            <div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_chat_close">
                {% getSvgIcon 'duotune/arrows/arr061.svg' 'svg-icon svg-icon-2' %}</div>
            <!--end::Close-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body" id="kt_drawer_chat_messenger_body">
        <!--begin::Messages-->
        <div class="scroll-y me-n5 pe-5" data-kt-element="messages" data-kt-scroll="true" data-kt-scroll-activate="true"
            data-kt-scroll-height="auto"
            data-kt-scroll-dependencies="#kt_drawer_chat_messenger_header, #kt_drawer_chat_messenger_footer"
            data-kt-scroll-wrappers="#kt_drawer_chat_messenger_body" data-kt-scroll-offset="0px">

            <!--begin::Message(in)-->
            {% for direct in directs %}

            {% if request.user == direct.sender %}
         
            <!--end::Message(in)-->
            <!--begin::Message(out)-->
       <div class="d-flex justify-content-end mb-10">
                <!--begin::Wrapper-->
                <div class="d-flex flex-column align-items-end">
                    <!--begin::User-->
                    <div class="d-flex align-items-center mb-2">
                        <!--begin::Details-->
                        <div class="me-3">
                            <span class="text-muted fs-7 mb-1">{{direct.date| timesince}}</span>
                            <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">{{direct.user.username}}</a>
                        </div>
                        <!--end::Details-->
                        <!--begin::Avatar-->
                        <div class="symbol symbol-35px symbol-circle">
                            <img alt="Pic" src="{% static 'media/avatars/300-1.jpg' %}" />
                        </div>
                        <!--end::Avatar-->
                    </div>
                    <!--end::User-->
                    <!--begin::Text-->
                    <div class="p-5 rounded bg-light-primary text-dark fw-semibold mw-lg-400px text-end"
                        data-kt-element="message-text">{{direct.body}}</div>
                    <!--end::Text-->
                </div>
                <!--end::Wrapper-->
            </div>
            {% else %}
        <div class="d-flex justify-content-start mb-10">
                <!--begin::Wrapper-->
                <div class="d-flex flex-column align-items-start">
                    <!--begin::User-->
                    <div class="d-flex align-items-center mb-2">
                        <!--begin::Avatar-->
                        <div class="symbol symbol-35px symbol-circle">
                            <img alt="Pic" src="{% static 'media/avatars/300-25.jpg' %}" />
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Details-->
                        <div class="ms-3">
                            <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">{{direct.user.username}}</a>
                            <span class="text-muted fs-7 mb-1">{{direct.date| timesince}}</span>
                        </div>
                        <!--end::Details-->
                    </div>
                    <!--end::User-->
                    <!--begin::Text-->
                    <div class="p-5 rounded bg-light-info text-dark fw-semibold mw-lg-400px text-start"
                        data-kt-element="message-text">{{direct.body}}</div>
                    <!--end::Text-->
                </div>
                <!--end::Wrapper-->
            </div>

            {% endif %}
            {% endfor %}

            <!--end::Message(in)-->

            <!--end::Message(template for out)-->
            <!--begin::Message(template for in)-->

            <!--end::Message(template for in)-->

        </div>
        <!--end::Messages-->
    </div>
    <!--end::Card body-->
    <!--begin::Card footer-->

    <form action="{% url 'send-direct' %}" method="POST" id="chat-form">
        {% csrf_token %}
        <div class="card-footer pt-4" id="kt_drawer_chat_messenger_footer">
            <!--begin::Input-->
            <input type="hidden" id="to_user" name="to_user" value="{{active_directs}}" />
            <input id="body" name="body" class="form-control form-control-flush mb-3" rows="1" data-kt-element="input"
                placeholder="Type a message" />
            <!--end::Input-->
            <!--begin:Toolbar-->
            <div class="d-flex flex-stack">
                <!--begin::Actions-->
                <div class="d-flex align-items-center me-2">
                    <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button"
                        data-bs-toggle="tooltip" title="Coming soon">
                        <i class="bi bi-paperclip fs-3"></i>
                    </button>
                    <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button"
                        data-bs-toggle="tooltip" title="Coming soon">
                        <i class="bi bi-upload fs-3"></i>
                    </button>
                </div>
                <!--end::Actions-->
                <!--begin::Send-->
                <button class="btn btn-primary" type="submit" >Send</button>
                <!--end::Send-->
            </div>
            <!--end::Toolbar-->
        </div>
    </form>

    <script type="text/javascript" >
        $(document).on("submit", "#chat-form", function (e) {
            e.preventDefault();
            let _body = $("#body").val()
            let _to_user = $("#to_user").val()

            $.ajax({
                type: "POST",
                url: "{% url 'send-direct' %}",

                data: {
                    body: _body,
                    to_user: _to_user,
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                },

                success: function (success) {
                    let  _html = '<div class="d-flex justify-content-end mb-10" >\
                            <div class="d-flex flex-column align-items-end">\
                              <div class="d-flex align-items-center mb-2">\
                                <div class="me-3">\
                                <span class="text-muted fs-7 mb-1">{{direct.date| timesince}}</span>\
                                <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">{{direct.user.username}}</a>\
                            </div>\
                            <div class="symbol symbol-35px symbol-circle">\
                                <img alt="Pic" src="{% static "media/avatars/300-1.jpg" %}" />\
                            </div>\
                        </div>\
                        <div class="p-5 rounded bg-light-primary text-dark fw-semibold mw-lg-400px text-end" data-kt-element="message-text">' + _body + '</div>\
                    </div>\
                 </div>\
                 '

                    $("#kt_drawer_chat_messenger_body").append(_html)
                }
            })
            document.getElementById("body").value = ""
        })
    </script>

    <!--end::Card footer-->
</div>
